@model ClienteEditarModel

@this.DefinirTitulo(Model.ModoOperacao switch
{
    ModoOperacao.Criacao => "Novo cliente",
    ModoOperacao.Edicao => "Editar cliente",
    var modoOperacao => throw new Exception($"O modo de operação '{modoOperacao}' não é suportado.")
})

<form asp-action="Salvar">
    <input type="hidden" asp-for="ModoOperacao" />
    <input type="hidden" asp-for="Cliente.Id" />

    <div class="mb-3">
        <label asp-for="Cliente.Nome"></label>
        <input type="text" asp-for="Cliente.Nome" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Cliente.Email"></label>
        <input type="email" asp-for="Cliente.Email" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Cliente.Nascimento"></label>
        <input type="text" asp-for="Cliente.Nascimento" class="form-control" />
    </div>

    <div class="text-right">
        <a href="@Url.Action("Index")" class="btn btn-secondary">Voltar</a>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
</form>